// Maintainer: Saikiran Belana <
// Last updated: Mon, 16 May 2022 
// Language: scss
// Path: src/SCSS/styles.scss

@import "variables.scss";


// Global Components
html {
    scroll-behavior: auto;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $white;

    // &:focus {
    //     outline: none;
    // }


    // no scroll on body
    // &:before,
    // &:after {
    //     content: "";
    //     display: block;
    //     height: 0;
    //     visibility: hidden;
    // }


   }



a{
    text-decoration: none;
}



li{
    list-style: none;
}









// nav imports
@import "nav.scss";







.main-page{
    width: 100%;
    height: 100vh;
    background-color: $dark;
}

// profile main
.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: $dark;
    padding: 1rem;
    top: 0;
    background-image: url("../images/stars.jpg");

    .main-content-left{
        // ANIMATE FROM RIGHT TO LEFT
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-delay: -2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
    }


    @keyframes example {
        // opacity 0 to 1
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
        // 0%   { left:0px; top:0px;}
      }



    .profile-image{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        margin: 1rem;
        border: 10px solid $white;

    }

    .vertical-line{
        width: 5px;
        // height: 100%;
        height: 25vh;
        background-color: $white;
        margin: 1rem;

        position: relative;
        animation-name: line;
        animation-duration: 4s;
        animation-delay: -2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;

    }


    @keyframes line {
        // grow the line
        // opacity and height 0 to 1
        0% {
            opacity: 0;
            // go to left and come back
            transform: translateX(-100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }



       
      }

    
    .main-content-text{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        margin: 1rem;

        position: relative;
        animation-name: main-text;
        animation-duration: 4s;
        animation-delay: -2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;

    }

    @keyframes main-text {
    // opacity 0 to 1
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
        // 0%   { left:0px; top:0px;}
      }



    .main-content-text h1{
        font-size: 2rem;
        font-weight: bold;
    }

    .main-content-text h2{
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 1rem;
    }


}



@import "projects.scss";






