html {
  scroll-behavior: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #EDEDED;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  z-index: 1;
}
.nav-wrapper .brand-logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #EDEDED;
  padding: 0.5rem;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
}
.nav-wrapper .brand-logo:hover {
  background-color: #EDEDED;
  color: #212832;
}
.nav-wrapper .brand-logo:focus {
  outline: none;
}
.nav-wrapper .brand-logo:active {
  background-color: #EDEDED;
  color: #212832;
}
.nav-wrapper ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
}
.nav-wrapper ul li {
  margin-left: 1rem;
}
.nav-wrapper ul li a {
  color: #EDEDED;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.nav-wrapper ul li a:hover {
  background-color: #EDEDED;
  color: #212832;
  padding: 0.5rem;
  border: 1px solid #212832;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .nav-wrapper {
    display: none;
  }
}
.main-page {
  width: 100%;
  height: 100vh;
  background-color: #212832;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #212832;
  padding: 1rem;
  top: 0;
  background-image: url("../images/stars.jpg");
}
.main-content .main-content-left {
  position: relative;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes example {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes example {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.main-content .profile-image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin: 1rem;
  border: 10px solid #EDEDED;
}
.main-content .vertical-line {
  width: 5px;
  height: 25vh;
  background-color: #EDEDED;
  margin: 1rem;
  position: relative;
  -webkit-animation-name: line;
          animation-name: line;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes line {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes line {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.main-content .main-content-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 1rem;
  position: relative;
  -webkit-animation-name: main-text;
          animation-name: main-text;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes main-text {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes main-text {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.main-content .main-content-text h1 {
  font-size: 2rem;
  font-weight: bold;
}
.main-content .main-content-text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
}

.projects {
  scroll-behavior: auto;
}
.projects h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #212832;
  text-align: center;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  top: 0;
  margin-top: 0;
}
.projects .project {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  margin-top: 0;
}
.projects .project:nth-child(3n+1) {
  margin-right: 2rem;
}
.projects .project .project-card {
  width: 25%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212832;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  margin: 1rem;
  padding: 1rem;
  color: #EDEDED;
}
.projects .project .project-card:hover {
  transform: scale(1.05);
  background-color: #1a1a1a;
}
.projects .project .project-card .project-card-img {
  width: 30rem;
  height: 20rem;
  border-radius: 0.5rem;
  background-color: #EDEDED;
  border: 10px solid #212832;
}
.projects .project .project-card .project-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.projects .project .project-card .project-card-title .fab {
  font-size: 1.5rem;
  margin: 1rem;
}
.projects .project .project-card .project-card-description {
  font-size: 1.2rem;
  text-align: left;
  padding-top: 1rem;
}
.projects .project .project-card .project-card-link {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.projects .project .project-card .project-card-link:hover {
  color: #212832;
}/*# sourceMappingURL=styles.css.map */